* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
a {
  cursor: pointer;
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
.svg-icon:focus {
  outline: none;
}
ul,
li {
  list-style-type: none;
}
input {
  outline: none;
  -webkit-apperance: none;
}
img {
  max-width: 100%;
}
